#.git
/.git

#app
/app/assets/*
!/app/assets/stylesheets/
/app/channels/
/app/controllers/concerns/
/app/javascript/channels/
/app/jobs/
/app/mailers/
/app/models/concerns/
/app/devise/unlocks/

#bin
/bin/

#config
/config/environments/development.rb
/config/environments/production.rb

/config/initializers/*
!/config/initializers/devise.rb

/config/locales/en.yml

/config/webpack/*
!/config/webpack/environment.js

/config/boot.rb
/config/cable.yml
/config/credentials.yml.enc
/config/database.yml
/config/environment.rb
/config/spring.rb
/config/storage.yml
/config/webpacker.yml

#db
/db/schema.rb

#lib
/lib/

#log
/log/

#public
/public/

#spec
/spec/*
!/spec/factories/
!/spec/fixtures/
!/spec/models/
!/spec/requests/
!/spec/support/
!/spec/rails_helper.rb

#storage
/storage/

#test
/test/

#temp
/temp/

#vendor
/vendor/

#file
.browserslistrc
.env
.rspec
.ruby-version
babel.config.js
config.ru
package.json
postcss.config.js
Procfile
Rakefile
yarn.lock
