.users-index{
  margin-top: 50px;
}

.user-view{
  border-bottom: solid 1px #8e8e8e;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.user-view p{
  display: inline;
}

.user-view a{
  color: #6B8E23;
}

.user-view-right{
  height: 80px;
  line-height: 80px;
}

.notification-none{
  text-align: center;
}
